<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<form action="/searchBy"> <!-- Action of a form is like the address of a form - route it talks to -->
  <fieldset>
    <legend>Contact Me</legend>
    <label for="title">Title :</label>
    <input type="text" name="title">
    <label for="author">Author :</label>
    <input type="text" name="author">
    <input type="submit" value="Send a message">
  </fieldset>
</form>
  
</body>
</html>
