

body{
  /* outline: 2px solid blue; */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div{
  background-color: gray;
  /* outline: 5px solid orange; */
  width: 80%;
  margin: 20px auto;
  padding: 20px 20px;
  /* list-style: none; */
}

h1{
  /* outline: 5px solid orange; */
  color: rgb(156, 153, 153);
  margin: 0 auto;
  text-align: center;
}

h2{
  /* outline: 5px solid orange; */
  color: #533434;
  margin: 0 auto;
  text-align: center;
}

img{
  /* outline: 5px solid orange; */
  color: orange;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: block;
}

p{
  color: rgb(34, 20, 20);
}